@model MvcApp.Models.Account.RegisterViewModel


@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "Account"))
{
    @Html.LabelFor(model=>model.Login)
    @Html.EditorFor(model=>model.Login)
    <br />
    @Html.LabelFor(model => model.Password)
    @Html.EditorFor(model => model.Password)
    <br />
    @Html.LabelFor(model => model.ConfirmPassword)
    @Html.EditorFor(model => model.ConfirmPassword)
    <br />
    @Html.LabelFor(model => model.Email)
    @Html.EditorFor(model => model.Email)
    <br />
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <br />
    @Html.LabelFor(model => model.Surname)
    @Html.EditorFor(model => model.Surname)
    <br />
    <button type="submit">Register</button>
}