@model IEnumerable<MvcApp.Models.Account.AccountViewModel>

@{
    Layout = "~/Views/Shared/_AdminAccount.cshtml";
    ViewBag.Title = "Users";
}

<h2 class="page-header">Users</h2>

@using (Html.BeginForm("Account", "Account"))
{
    <table class="table table-striped" style="text-align:center">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfRegistration)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Ajax.ActionLink("Edit", "GetUser", new { item.Login }, new AjaxOptions()
               {
                   HttpMethod = "GET",
                   UpdateTargetId = "user",
                   InsertionMode = InsertionMode.Replace
               })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.IsActive, new { id = item.Login })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfRegistration)
                </td>
            </tr>
        }
    </table>
}
<div id="user">
</div>

<script>
    
</script>