@model LogicLayer.Entities.Record

<h2>RecordView
    
    </h2>

<div id="nameModel">
    @Model.Name
</div>
<div id="descriptionModel">
   @Model.Description
</div>
<div id="compare">
    @Html.DropDownListFor(rc => rc.ComparerID, ViewData["CompareList"] as IEnumerable<SelectListItem>, new { id = "ddlCompare" })
    <button type ="submit" onclick="compareFunction()">
        Compare
    </button>
</div>

<div id="recordTabs">
    <ul id="recordTabs-nav">
        <li>
            <a href="@(Url.Action("TechicalDetails", new { id = Model.ID }))">
                Techical characteristic
            </a>
        </li>
        <li>
            <a href="@(Url.Action("PhotoDetails", new { id = Model.ID }))">
               Photo
            </a>
        </li>
        <li>
            <a href="@(Url.Action("VideoDetails", new { id = Model.ID }))">
                Video
            </a>
        </li>
        <li>
            <a href="@(Url.Action("DocumentsDetails", new { id = Model.ID }))">
                Documents
            </a>
        </li>
    </ul>
</div>
<div id="info1">
</div>

<script>
    $(function () {
        $("#recordTabs").tabs({
            heightStyle: "fill",
            collapsible: true,
            hide: "slideUp"
        });
    });
</script>
<script>
    function compareFunction() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Compare", "CatalogView")' + '?str=' +@Model.ID +':'+$('#ddlCompare').find('option:selected').val(),
            cache: false
        });
    }
</script>