<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Scripts/sb-admin/bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/sb-admin/font-awesome.css" rel="stylesheet" />
    <link href="~/Scripts/myCSS/treeview.css" rel="stylesheet" />
    <link href="~/Scripts/myCSS/textEditor.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="../../Scripts/themes/default/style.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Catalog", "Index", "CatalogView")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @RenderBody()

    <script src="@Url.Content("~/Scripts/bootstrap.js")"
            type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"
            type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/sb-admin/jquery.js"></script>
    <script src="~/Scripts/sb-admin/bootstrap.js"></script>
   
    <script src="~/Scripts/myScripts/angular.js"></script>
    <script src="~/Scripts/myScripts/angular.treeview.js"></script>
    <script src="~/Scripts/myScripts/abn_tree_directive.js"></script>
    <script src="~/Scripts/myScripts/App.js"></script>
    <script src="~/Scripts/myScripts/catalogService.js"></script>
    <script src="~/Scripts/myScripts/noteInfoService.js"></script>
    <script src="~/Scripts/myScripts/userService.js"></script>
    <script src="~/Scripts/myScripts/catalogCtrl.js"></script>
    <script src="~/Scripts/myScripts/modalCompareCtrl.js"></script>
    <script src="~/Scripts/myScripts/recordCtrl.js"></script>
    <script src="~/Scripts/myScripts/modalRecordCompare.js"></script>
    <script src="~/Scripts/myScripts/addNoteCtrl.js"></script>
    <script src="~/Scripts/ui.bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="~/Scripts/textAngularSetup.js"></script>
    <script src="~/Scripts/textAngular.js"></script>
    <script src="~/Scripts/textAngular-sanitize.js"></script>

    
    @RenderSection("scripts", required: false)
</body>
</html>
