<link href="~/Content/navigation.css" rel="stylesheet">

@if (Request.IsAuthenticated)
{
    <div class="b">
        @Html.ActionLink(@User.Identity.Name, "Account", "Account")
        @Html.ActionLink("Log Out", "Logout", "Account")
    </div>
}
else
{
    <div class="b">
        @Html.ActionLink("Log In ", "Login", "Account")
    </div>

    <div class="b">
        @Html.ActionLink("Register", "Register", "Account")
    </div>
}
