@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages" id="dropdown-messages">
                <li>
                    <a href="#" id="messageClick">
                        <div>
                            <strong>John Smith</strong>
                            <span class="text-muted">
                                <em>
                                    <shortdate style="color:red">
                                        @DateTime.Now.ToShortDateString()
                                    </shortdate>
                                    <shortTime style="color:blue">
                                        @DateTime.Now.ToShortTimeString()
                                    </shortTime>
                                
                                </em>
                            </span>
                        </div>
                        <div>Lorem sdhfuiasgfuysdiyufgsuyfsdugfwuagusdg sfhiud sidhfi</div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="~/Account/Chat">
                        <strong>Read All Messages</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-messages -->
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i><span id="userLogin">@HttpContext.Current.User.Identity.Name</span>   <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="/Account/ProfileInformation"><i class="fa fa-user fa-fw"></i> Profile</a>
                </li>
                <li>
                    <a href="/Account/Settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/Account/Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Register", "Register", "Account")
        </li>
        <li>
            @Html.ActionLink("Log in", "Login", "Account")
        </li>
    </ul>
}
